@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Caprasimo&family=Ysabeau+SC&display=swap');

body {

    background-color: black;
}





.card-film {

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 24px;
    flex-wrap: wrap;
    border: 5px solid rgb(255, 255, 255);
    gap: 40px;
    width: 16%;
    padding: 24px;
    margin: auto;
    margin-bottom: 30px;
    font-family: 'Ysabeau SC', sans-serif;
    color: white;
    background-color: rgb(54, 54, 54);



}

@media (max-width:480px) {

    .card-film {
        width: 100%;
        gap: 10px;
        
    }
}

@media (max-width:768px) {

    .card-film {
        width: 100%;
        gap: 10px;
        font-size: 18px;
    }
}


h1 {

    font-size: 80px;
    color: rgb(255, 213, 0);
    margin: auto;
    text-align: center;
    font-family: 'Caprasimo';
    margin-bottom: 40px;
    text-shadow: -1px 0 #ffffff, 0 1px #ffffff, 1px 0 #ffffff, 0 -1px #ffffff;
    margin-top: 40px;
}

@media (max-width:480px) {
    h1 {
        font-size: 50px;
        margin: 0;
    }
}

@media (max-width:768px) {
    h1 {
        font-size: 50px;
        margin:20px 0px
    }
}

button {
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 30px;
    width: 30%;
    padding: 20px;

    text-align: center;

}

@media (max-width:480px) {

    button {
        width: 25%;
        padding: 5px;
        margin-left: 20px;
        font-size: 12px;


    }
}

@media (max-width:768px) {

    button {

        width: 25%;
        padding: 5px;
        margin-left: 20px;
        font-size: 12px;
       



    }
}

.card-film img {
    width: 100%;


}


.main-wrapper {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}